In [5]:
from wrangle_zillow import all_2017_zillow_data

In [20]:
df = all_2017_zillow_data()

In [21]:
zil = df[['bathroomcnt', 'bedroomcnt', 'taxvaluedollarcnt', 'logerror', 'lotsizesquarefeet', 'calculatedfinishedsquarefeet']]

In [22]:
zil.head()

,bathroomcnt,bedroomcnt,taxvaluedollarcnt,logerror,lotsizesquarefeet,calculatedfinishedsquarefeet
0,3.5,4.0,1023282.0,0.025595,4506.0,3100.0
1,1.0,2.0,464000.0,0.055619,12647.0,1465.0
2,2.0,3.0,564778.0,0.005383,8432.0,1243.0
3,3.0,4.0,145143.0,-0.103410,13038.0,2376.0
4,3.0,3.0,119407.0,0.006940,278581.0,1312.0