# Tips Dataset

#### Explores the tips data set that is built in to seaborn. Perform at least 1 t-test and 1 chi square test.

In [3]:
# imports
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [4]:
# saving dataset as df
tips = sns.load_dataset('tips')

In [5]:
# previewing data
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Perform a t-test

Idea: Do smokers leave different tip amounts on average than non-smokers?
    
H0: Average tip of smokers = Average tip of non-smokers

Ha: Average tip of smokers != Average tip of non-smokers

In [6]:
# alpha
alpha = .05

# fetching all smoker tip data
smoke = tips[tips.smoker == 'Yes'].tip

# fetching all non-smoker tip data
no_smoke = tips[tips.smoker == 'No'].tip

# performing t-test
t, p = stats.ttest_ind(smoke, no_smoke, equal_var = False)

# printing results
print('alpha =',alpha)
print(p)

alpha = 0.05
0.9269174486592786

- Since p is not less than alpha, we do not reject the null hypothesis and we conclude that the average tip amounts does not differ between smokers and non-smokers

### Perform a Chi Square Test

Idea: Is there a connection between males and smoking?

H0: Being male is indepedent of smoking

Ha: Being male is not indepedent of smoking

In [7]:
# creating crosstab of smoker and sex data
observed = pd.crosstab(tips.smoker, tips.sex)

# observing crosstab
observed

sex     Male  Female
smoker
Yes       60      33
No        97      54

In [8]:
# declaring alpha
alpha = 0.05

# performing chi2 test
chi2, p, degf, expected = stats.chi2_contingency(observed)

# printing p value
print(p)

0.925417020494423

- Since p is not less than alpha, we do not reject the null hypothesis and we conclude that being male is independent of smoking.